.mastheader {
	background: #fff;

	@include until($small-desktop){
	  	&.is-active-mb {
	  		position: absolute;
	  		top:0;
	  		left:0; right:0;
	  		z-index: 100;
	  		.left-block {
	  			float: none;

	  			.menu {
	  				display:block;

	  				.menu-item {
	  					display:block;
	  					padding:0;
	  					border-bottom: 1px dotted rgba(29, 20, 20, 0.25);
	  					&:before {
  							display:none;
  						}

	  					a {
	  						padding: 14px 20px 15px 0;
	  					}
	  				}
	  			}
	  		}

	  		.right-block {
	  			display: block;
	  			float: none;
	  			margin-top: 40px;
	  		}
	  		.slider {
	  			display:none;
	  		}
	  	}
	}

	.top-section-inner {
		@extend %clear;
		.icons {
			float: right;
			padding: 5px 0;
		}
	}
	.masthead-inner {
		@extend %clear;

		@include until($small-desktop){
		  	padding: 20px 20px 30px;
		}

		.mobile-menu {
		  	position: relative;
		  	width: 35px;
    		height: 28px;
		  	display: block;
		  	float: right;

		  @include at-least($small-desktop){
		  	display:none;
		  }
		}
		.mobile-menu-inner {
		  	position: absolute;
		  	background: #000;
		  	width: 100%;
		  	height: 3px;
		  	top: 50%;
		  	right: 0px;
		  	opacity: 1;
		}
		.mobile-menu-inner::before {
		  	position: absolute;
		  	background: #000;
		  	width: 100%;
		  	height: 3px;
		  	top: 11px;
		  	content: "";
		  	display: block;
		}
		.mobile-menu-inner::after {
		  	position: absolute;
		  	background: #000;
		  	width: 100%;
		  	height: 3px;
		  	bottom: 11px;
		  	content: "";
		  	display: block;
		}
		.mobile-menu-inner::after, .mobile-menu-inner::before, .mobile-menu-inner {
		  	transition: all .3s ease-in-out;
		  	-webkit-transition: all .3s ease-in-out;
		}
		.mobile-menu.is-active .mobile-menu-inner::after{
		  	transform: rotate(-45deg);
		  	-webkit-transform: rotate(-45deg);
		  	bottom: 0px;
		}
		.mobile-menu.is-active .mobile-menu-inner::before{
		   transform: rotate(45deg);
		   -webkit-transform: rotate(45deg);
		  	top: 0px;
		}
		.mobile-menu.is-active .mobile-menu-inner{
		 background: rgba(111,111,111,.0);
		}
		/* useless css */
		.mobile-menu {
		  margin-left:auto;
		  margin-right: auto;

		  &.mobile-menu {
		  		position: absolute;
    			top: 78px;
    			right: 20px;
		  }
		}
	}
	.left-block{
		float: left;
		.menu, .logo {
			display: inline-block;
			vertical-align: middle;
		}

		.logo-link {
			display: inline-block;
		}

		.logo-wrapper {
			display: inline-block;
			vertical-align: middle;
			font-size: inherit;
		}
		.menu {
			margin-left: 40px;
			@include until($small-desktop){
			  	display:none;
			  	margin: 20px 0 0 0;
			  }
			 > .menu-item {
				position:relative;
				padding: 20px 0;

				@include until($small-desktop){
			  		&.submenu-is-active{
			  			> a {
			  				padding-bottom:0;
			  			}
			  			.sub-menu {
			  				display:block;
			  			}
			  		}
			 	}

				&:first-child {
					&:before {
						content: none;
					}
				}

				> a {
					display: inline-block;
				}

				&:before {
					content: '/';
					display: inline-block;
					vertical-align: middle;
					margin: 0 7px 0 7px;
				    position: relative;
				    top: -1px;
				}

				.sub-menu {
					background: #000;
					min-width: 150px;
					@include until($small-desktop){
					  	background:transparent;
					  	position: static;
					  	opacity: 1;
					  	visibility: visible;
					  	display:none;
					  }
					.menu-item {
    					border-bottom: 1px solid #333333;
    					@include until($small-desktop){
						  	border-bottom: none;
						 }

    					&.current-menu-item {
    						.sub-menu-item {
    							left: 10px;
    						}
				  		}

    					&:last-child {
    						border-bottom:0;
    					}

						a {
							color: #fff;
							font-size: 14px;
							padding: 7px 25px 6px 7px;

							&:hover {
								.sub-menu-item {
									left:10px;
								}
							}

							@include until($small-desktop){
						  		color: #000;
						  		padding: 10px;

						  		&:hover {
						  			color: $brand-color;
						  			.sub-menu-item {
										left:0;
									}
						  		}
						 	}
							
							.sub-menu-item {
								left:0;
								transition: left 150ms ease-out;
								position: relative;
							}
						}
					}
				}
			}
		}
	}

	.right-block {
		float: right;
		margin: 20px 0 0 0;

		@include until($small-desktop){
		  	display:none;
		}
		.icons, .search-form {
			display:inline-block;
			vertical-align: middle;
		}

		.search-form {
			position: relative;
    		width: 30px;
    		height: 30px;
    		z-index: 10;

	    	@include until($small-desktop){
			  	width: 100%;
			}

		    .input-field {
		    	height: 30px;
    			display: inline-block;
    			border: none;
    			outline: none;
    			color: #555;
    			padding: 3px;
    			padding-right: 5px;
    			width: 130px;
    			position: absolute;
    			top: 0;
    			right: 35px;
    			background: #fff;
    			z-index: 3;
    			transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    			cursor: pointer;
    			border-bottom: 1px solid #BBB;
    			font-size: 14px;

				&:focus {
					width: 300px;
					cursor: text;
				}

    			@include until($small-desktop){
				 	position: static;
				 	display: block;
				 	width: calc(100% - 55px);
				 	float: left;
				 	font-size: 17px;

				 	&:focus {
				 		width: calc(100% - 55px);
				 	}
				}

		    }

		    .submit-button {
				color: #000;
			    padding: 0;
			    padding-left: 1px;
			    display: block;
			    border: none;
			    cursor: pointer;
			    margin-top: 8px;
    			font-size: 17px;
    			color: #9A9A9A;
			    transition: opacity .4s ease;

			    @include until($small-desktop){
				 	float: right;
				 	width: 30px;
				 	font-size: 24px;
				}

				&:hover {
					opacity: 0.8;
				}
		    }
		}
	}

	.featured-section {
		background: #000;
		color: #fff;
		.outer {
			@extend %clear;
			padding: 20px 0;
			.text-body {
				float: left;
				width: 70%;
				@include until($tablet){
					width: auto;
    				float: none;
    				text-align: center;
				}
			}

			.helper {
				float: right;
				width: 28%;
				@include until($tablet){
					float: none;
    				width: auto;
    				text-align: center;
    				margin-top: 10px;
				}

				.helper-button {
					background: #CE1919;
    				padding: 2px 10px;
    				text-decoration: none;
    				color: #fff;
				}
			}
		}
	}
}

@keyframes hvr-buzz-out {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    transform: translateX(1px) rotate(0);
  }

  100% {
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}