.main {
	padding: 20px 0;
	.main-content {
		overflow: hidden;
		float: left;
    	width: calc(100% - 340px);
    	background: #fff;
    	padding: 20px;
    	@extend %clear;
    	@include until($small-desktop){
    		float: none;
    		width: 100%;
            padding: 20px 0;
    	}
    	.article-image {
    		position: relative;
    		margin-bottom: 40px;
    		.article-image-inner {
    			position: relative;
    			.featured-image {
    				margin-bottom: 10px;
    			}
    			.image-caption {
	    			position: absolute;
	    			bottom: 0;
	    			left: 0;
	    			right: 0;
	    			padding: 5px 15px;
	    			background: rgba(0,0,0,0.5);
	    			color: #fff;
	    			font-size: 12px;
	    		}
    		}

    		.image-credit {
    			font-size: 10px;
    			text-align: right;
    		}
    	}

    	figure, iframe, img {
			margin: 20px 0;
		}

		iframe, img {
			max-width: 100%;
			display: block;
		}
	}
	.articles-wrapper {
		overflow: hidden;
		float: left;
    	width: calc(100% - 340px);
    	@extend %clear;
        .grid {
            margin: 0;
        }
    	@include until($small-desktop){
    		float: none;
    		width: 100%;
    	}
		.article {
			font-size: 14px;
			background: #fff;
			padding: 20px;

            @include until($small-desktop){
                padding:20px 0;
            }

			&.featured {
				text-align: center;

				.article-excerpt {
					text-align: left;
				}

                .article-image-wrapper {
                    &:hover {
                        .article-image {
                            transform: scale(1.05);
                        }
                    }
                }
			}
			
			.title {
				transition: color 0.2s ease-out;
				&:hover {
					color: #afd137;
				}
				&:after {
					content: '';
    				width: 25px;
    				height: 1px;
    				background: $brand-color;
    				display: block;
    				margin: 9px auto 0 auto;
				}
				
				a {
					display: block;
					text-align: center;
					text-decoration: none;
				}
			}


			.article-image-wrapper {
				display: block;
				overflow: hidden;
			     margin-bottom: 5px;
				&:hover {
					.article-image {
						transform: scale(1.1);
					}
				}
				.article-image {
					display:block;
					max-width: 100%;
					transition: transform 0.2s ease-out;
				}
			}

            .article-excerpt {
                margin-top: 15px;
            }

            .article-categories {
                .article-categories-wrapper {
                    margin:0;
                    padding:0;
                    list-style-type: none;
                    text-align: left;

                    .article-category {
                        display: inline-block;
                        a {
                            color: #9C9C9C;
                            text-decoration: none;
                            font-size: 11px;
                            letter-spacing: 1px;
                            text-transform: uppercase;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
		}

		.mult-article-wrapper {
			padding: 20px 0;
		}
	}	
}

.next-link {
	text-decoration: none;
    color: #222;
    float: right;

    &:hover {
    	text-decoration: underline;
    }

    .fa {
    	margin-left: 12px;
    	vertical-align: middle;
    }
}

.back-link {
	text-decoration: none;
    color: #222;
    float: left;

    &:hover {
    	text-decoration: underline;
    }

    .fa {
    	margin-right: 12px;
    	vertical-align: middle;
    }
}

.back-link, .next-link {
	 &:hover {
    	text-decoration: underline;
    }

    .fa {
    	vertical-align: middle;
    	position: relative;
    	top: -1px;
    }
}

.load-more {
	display: block;
    width: 180px;
    margin: 0 auto;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    background: #464545;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-out;
    border-radius: 2px;

    &:hover {
    	background: #353434;
    }
}