.sidebar {
	float: right;
    width: 320px;
    padding: 20px;
    margin-left: 20px;
    background: #fff;
    font-size: $font-size-alt;

    @include until($small-desktop){
		float: none;
    	width: auto;
    	margin: 25px 0 0;
    	padding: 20px 0;
	}

    ul {
    	list-style-type: none;
    	padding:0;
    	margin:0;
    }

    .title {
    	margin: 35px 0;
    	position: relative;

    	&:first-child {
    		margin-top:0;
    	}

    	&:after{
   			content: '';
    		position: absolute;
    		left:0;
    		bottom: -10px;
    		height: 1px;
    		width: 60px;
    		background: $brand-color;
    	}
    }

	.popular-categories {
		.single-popular-category {
			margin-bottom: 15px;
			a {
				@extend %clear;
    			.count {
    				float:right;
    			}
			}
		}
	}

	.icons {
		.icons-item {
			padding: 0;
			a {
				font-size: 20px;
   				margin-right: 15px;
			}
		}
	}
}