.slider {
	white-space: nowrap;
	overflow:hidden;
	position: relative;
    color: #fff;
    font-size: $font-size-alt;

    &.multiple {
    	.slide {
    		width: 25%;

    		@include until($desktop){
    			width: 33.333%
    		}

    		@include until($tablet){
    			width: 50%;
    		}

    		@include until($mobile-large){
    			width: 100%;
    		}

    		.slide-image {
    			transition: all 0.2s ease-in-out;
    		}

    		&:hover {
    			.slide-image {
    				transform: scale(1.05);
    			}
    		}
			
    		.slider-content {
    			bottom: 0;
    			left: 0;
    			right: 0;
    			font-size: 14px;

    			.slider-content-header {
    				margin-bottom: 0;
    				opacity: 1;
					top: inherit;
					padding: 5px 10px;
    			}
    		}
    	}
    }

	.slide {
		display: inline-block;
		width: 100%;
		color: #fff;
		overflow: hidden;

		&.is-selected {
			.slider-content{
				.slider-content-header{
					top:0px;
					opacity: 1;
				}
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
		.slider-content {
			white-space: initial;
			position: absolute;
		    bottom: 40px;
		    left: 40px;

			@include until($tablet){
		    	bottom: 10px;
			    left: 10px;
			    right: 10px;
		    }
		    .slider-content-header {
		    	background: rgba(175, 209, 55, 0.7);
		    	max-width: 650px;
		    	margin-bottom: 10px;
		    	position: relative;
		    	top:-30px;
		    	opacity: 0;
		    	transition: all 0.5s ease-out;
		    	transition-delay: 0.4s;

		    	@include until($tablet){
			    	font-size: 12px;
			    }
		    }
		    .slider-content-body {
		    	background: rgba(0,0,0,0.7);
		    	max-width: 750px;
		    	@include until($tablet){
			    	display:none;
			    }
		    }

		    .slider-content-header, .slider-content-body {
		    	padding: 10px 20px;
		    	p {
		    		margin:0;
		    	}
		    }
		}
	}

	.flickity-prev-next-button .arrow {
		fill: #fff;
	}

	.previous, .next {
		background: transparent; 
		&:focus {
			box-shadow: none;
		}

		@include until($tablet){
	    	display:none;
	    }
	}
}